/* Estilos para el contenedor principal */
.padre {
    text-align: center;
    margin: 20px auto;
    max-width: 1500px;
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  /* Estilos para los campos del formulario */
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Estilos para los mensajes de error */
  .mensaje-error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de registro */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  